html,
body {
  height: 100%;
  margin: 0;
  position: relative;
  z-index: -3;
}

button {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border-width: 0.1vh;
  padding: 0.3vh 2.5vw;
  font-size: 2vh;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.705);
}


@font-face {
  font-family: OpenSans;
  src: url(../assets/OpenSans.ttf);
}

* {
  font-family: OpenSans;
}