html, body {
    height: 100%;
    margin: 0;
    position: relative;
    z-index: -3;
}

button {
    border-radius: 20%;
    border-width: 0.1vh;
    width: 6vw;
    height: 3.5vh;
    /* background-color: aliceblue; */
    box-shadow:
    inset 10px 0 30px -10px rgba(0,0,0,.5),
    2px 2px 1px rgba(0,0,0,.8);
    opacity: 85%;
    font-size: 1.5vh;
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/OpenSans.ttf);
  }
  * {
    font-family:OpenSans;
  }

